{{ define "main" }}
<div class="list-page">
    <header class="page-header">
        <h1>{{ .Title }}</h1>
    </header>
    {{ .Content }}
    <ul class="item-list">
        {{ range .Pages.ByDate.Reverse }}
            <li class="item-list__entry">
                <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                {{ with .Params.subtitle }}<p>{{ . }}</p>{{ end }}
                {{ if .Date }}<p><small>Published on: {{ .Date.Format "January 2, 2006" }}</small></p>{{ end }}
            </li>
        {{ end }}
    </ul>
</div>
{{ end }}