{{- $src := .Get "src" -}}
{{- $caption := .Get "caption" -}}
{{- $alt := .Get "alt" | default $caption | default "Slideshow image" -}}
{{- $size := .Get "size" | default "800x" -}}
{{- $quality := .Get "quality" | default "q75" -}}
{{- $class := .Get "class" -}}
{{- $loading := .Get "loading" | default "lazy" -}}

{{- if not $src -}}
    {{- errorf "slide shortcode requires 'src' parameter" -}}
{{- end -}}

{{- $src = strings.TrimPrefix "/" $src -}}
{{- $src = strings.TrimPrefix "img/" $src -}}
{{- $resourcePath := printf "img/%s" $src -}}
{{- $imageResource := resources.Get $resourcePath -}}

<div class="slide-item fade">
    {{- if $imageResource -}}
        {{- if eq $imageResource.ResourceType "image" -}}
            {{- $resizeParams := printf "%s %s" $size $quality -}}
            {{- $image := $imageResource.Resize $resizeParams -}}
            <img src="{{ $image.RelPermalink }}" alt="{{ $alt }}"{{ with $class }} class="{{ . }}"{{ end }} loading="{{ $loading }}">
        {{- else -}}
            <img src="{{ $imageResource.RelPermalink }}" alt="{{ $alt }}"{{ with $class }} class="{{ . }}"{{ end }} loading="{{ $loading }}">
        {{- end -}}
    {{- else -}}
        {{- errorf "slide shortcode: could not resolve asset '%s' at '%s'" $src $resourcePath -}}
    {{- end -}}
    {{ if $caption }}
    <div class="text">{{ $caption }}</div>
    {{ end }}
</div> 